@import url('https://fonts.googleapis.com/css?family=Arsenal|Raleway');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic|Pangolin');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Poller+One');

body {
    background: url(/image/w2.jpg) no-repeat center center fixed;
    -moz-background-size: cover; /*значение предписывает браузеру автоматически и пропорционально масштабировать фоновое изображение по длине и ширине Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    font-family: "Arsenal";
    font-weight: 300;
    font-size: 28px;
    color: rgb(26, 24, 24);/*цвет текста*/

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

hr{
    display: block;
    height: 2px;
    width: 94%;
    border: 0;
    border-top: 1px solid ;
    margin: 50 3% 50 3%;
    padding: 0;
    color: rgba(78, 72, 72, 0.89);
}
.navbar-brand {
    margin-left: 40px;
    margin-top: -15px;
}


.top {
     text-align: right; 
    margin-right: 25px; 
    margin-top: 40px;
    font-size: 40px;
   
}

h1.funny-title{
    /* font-size:30px;text-align:center; */
    text-transform:uppercase;
    font-family:'Poller One',sans-serif;
    font-weight:300;letter-spacing:3px}
@-webkit-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@-moz-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
.section-title{-webkit-animation-play-state:running;
    -moz-animation-play-state:running;
    animation-play-state:running;
    color:transparent;
    background:url(https://obninsksite.ru/assets/theme/images/blog/square.svg) no-repeat rgba(97, 91, 92, 0.925);
    background-size:cover;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-animation:move-background 10s infinite linear alternate;
    -moz-animation:move-background 10s infinite linear alternate;
    animation:move-background 10s infinite linear alternate}



h2, h4, h5 {
    font-family: "Pangolin";
    font-weight: 200;
    color: #1a1b1bd3;
    font-size: 30px;
    
}
h3 {
    font-family: "Pangolin";
    font-weight: 200;
    color: #1a1b1bd3;
    font-size: 30px;
     

}
h6 {
    font-family: "Pangolin";
    font-weight: 200;
    color: #1a1b1bd3;
    font-size: 40px;


}
ul{
    font-family: "Arsenal";
    font-size: 23px;  
}
p {
    font-family: "Arsenal";
    font-size: 23px;
}



.b {
    font-size: 25px;
}

.text-right {
    text-align: right;
    display:inline-block;
}
.text-left {
    text-align: left;
    display:inline-block;
    
}
.img { width:400px; transition:width 0.5s ease; }
.big:hover img { width:560px;
}

.img-right {
    float: right;
margin: 4px 10px 2px 0px;
 }
 .img-left {
    float: left;
margin: 4px 10px 2px 0px;
 }

.centered {
    text-align: center;
}

a {
    color: #2896e0;
    text-decoration: underline;
}

a:hover, a:focus{
    color: #ec2121;
    outline: 0;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
.form1{
    margin:0 auto;
    max-width:50%;
    box-sizing:border-box;
    padding:20px;
    background-image:url(/image/form2.jpg) ;
    -moz-background-size: cover; /*значение предписывает браузеру автоматически и пропорционально масштабировать фоновое изображение по длине и ширине Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
  }
  .form2{
    font-family: "Pangolin";  
    margin:0 auto;
    max-width:41%;
    max-height: 60%;
    /* box-sizing:border-box; */
    padding:25px 19px 19px 19px;
    background-image:url(/image/form222.jpg) ;
    -moz-background-size: cover; /*значение предписывает браузеру автоматически и пропорционально масштабировать фоновое изображение по длине и ширине Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
  }
  .button1{
    padding:10px;
    font-size: 21px;
  }
  /*расположение кнопки назад*/
  .but{
    position: fixed;
    bottom: 51%;
    top: 49%;

  }
  .text{
      text-align: left;
      margin-left: 13%;
      margin-right: 6%;
  }